.app-wrapper {
  margin: 20px 20%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 0fr 1fr;
  grid-gap: 10px;
  grid-template-areas: 
    "header header"
    "navbar main-content";
}

.app-header {
  grid-area: header;
  background-color: aqua;
  height: 100px;
}

.app-navbar {
  grid-area: navbar;
  background-color: aquamarine;
}

.app-content {
  grid-area: main-content;
  background-color: bisque;
  padding: 0;
}

.navbar-item {
  margin: 8px 20px;
  color: whitesmoke;
  font-family: sans-serif;
  font-size: 1.5rem;
}

.add-post {
  border-radius: 12px;
  background-color: antiquewhite;
  margin: 20px;
  padding: 10px;
  resize: none;

  min-width: 200px;
  width: 800px;
  min-height: 80px;
  height: 80px;

  font-family: sans-serif;
  font-size: 1rem;
}

.add-post:focus {
  outline: none;
}

.btn-add-post {
  margin: 0 20px;
}

/* .btn-add-post button {
  border: none;
  border-radius: 10px;
  background-color: beige;
  padding: 10px;
  font-family: sans-serif;
  font-size: 0.8rem;
} */